.cbcr__chart-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 13.5rem auto;
    grid-template-rows: 1.5rem auto 1fr;
    grid-gap: 0.25rem 0.125rem;
    grid-template-areas: 
        "options buttons"
        "options config"
        "options table"
    ;
}

.cbcr__options {
    grid-area: options;
    display: flex;
    flex-direction: column;
}

.cbcr__dropdown {
    margin-bottom: 0.5rem;
    border-radius: 3px;
    text-overflow: ellipsis;
}

.cbcr__mode {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.cbcr__buttons {
    grid-area: buttons;
    display: flex;
    margin-left: 5.75rem;
    align-items: center;
}

.cbcr__buttons i {
    padding-left: 0.625rem;
    cursor: pointer;
}

.cbcr__buttons i:hover {
    font-size: 1.1rem;
}


.cbcr__items-menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
    border-bottom: 1px solid #f2f2f2;
    padding-right: 0.25rem;
}

.cbcr__items-menu__list {
    font-size: 0.8rem;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    min-height: 38px;
    margin-bottom: 1rem;
}

.cbcr__items-menu__list-item {
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, 0);;
    background-color: transparent;
    color: #595959;
    transition: background-color 50ms ease-out;
    padding: 0 10px;
    transition: all 0.2s ease-in;
}

.cbcr__items-menu__list-item:hover {
    background-color: rgba(0,152,69,0.2);
    border-top: 1px solid rgba(0, 0, 0, .25);
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.cbcr__items-menu__list-item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cbcr__items-menu__list-item .lui-icon {
    font-size: 0.75rem !important;
    margin: auto 0 auto 0.25rem;
}


.cbcr__config {
    grid-area: config;
    margin-left: 0.75rem;
}

.cbcr_config__row{
    display: flex;
    align-items: center;
}

.cbcr__config__title{
    width: 5rem;
    font-weight: bold;
    font-size: 0.825rem;
}

.cbcr__config__list{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    min-height: 1.8125rem;;
    justify-content: start;
    align-items: center;
    padding: 0.125rem;
    list-style: none;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    margin-bottom: 0.2rem;
}

.cbcr__config__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: .25em;
    margin: 0.125rem;
    padding: 0.25rem 0.375rem;
    font-size: 0.792rem;
    color: white;
}

.cbcr__config__item--dimension {
    background-color: #086CCB;
    opacity: 0.9;
}

.cbcr__config__item--measure {
    background-color: #FF7F0E;
    opacity: 0.9
}

.cbcr__config__item span {
    /* margin-right: 0.25rem; */
    text-overflow: ellipsis;
    overflow: hidden;
}

.cbcr__config__item i {
    font-size: 0.725rem !important;
    margin: 0 0 0 0.30rem;
    color: #ededed;
    transition: color 1s linear;
}

.cbcr__config__item i:hover {
    font-size: 0.8rem !important;
    margin: 0 0 0 0.215rem;
    color: #fff;
}


.cbcr__table {
    grid-area: table;
}

.cbcr__title {
    font-weight: bold;
    font-size: 1rem;
}

.cbcr__button{
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    height: fit-content;
    font-size: 13px;
    background-color: #DDD;
    color: #595959;
    height: 1.5rem;
    padding: 2px 5px;
    border: 1px solid #b3b3b3
}

.cbcr__button.active{
    background-color: #009845;
    color: white;
}
.cbcr__button:hover{
    border: 1px solid #666;
    transition: all 1s;
}

.cbcr__active, .cbcr__active:hover {
    background-color: rgb(0, 152, 69);
    color: white;
    font-size: 0.875rem;
    border-bottom: 1px solid #baebba;
}

.cbcr__loader {
    grid-area: table;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #dfdfdf; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }